@page {
    size:   auto;
    margin: 0mm 0mm 0mm 0mm;
}

@media print {
    .asset-wrapper {
        display: block !important;
    }
    .no-print,
    .no-print * {
        display: none !important;
    }
    .page-break {
        display: block;
        margin: 0;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        page-break-after: always;
    }
}

.ui.card {
    float:      left;
    margin:     1em;
    padding:    5px;
    width:      auto;
}

.ui.card .clicked {
    border:     1px solid red;
}

.ui.card:first-child {
    margin-top: 1em;
}

.ui.card:last-child {
    margin-bottom: auto;
}

.ui.card:hover .circle, .ui.card:hover .ellipsis.horizontal, .ui.card:hover .zoom {
    display: block;
}

.asset-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.AutoSizerWrapper {
    height: 100vh;
}

.ui.card .circle {
    display: none;
    font-size: 2em;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.ui.card .ellipsis.horizontal {
    display: none;
    font-size: 1.5em;
    color: white;
    position: absolute;
    right: 12px;
    bottom: 15px;
}

.ui.card .zoom {
    display: none;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 15%;
}